hr{
    width: 40%;
    margin: 0 auto;
    border-color: #000;
}

.box{
    box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #aeaeae;
  }

.headshot{
    padding: 1px !important;    
}
  
.headshot:hover .overlay {
    opacity: 0.90;
}

.headshot:active .overlay {
    opacity: 0.90;
}

.text {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card{
    border-radius: 0rem;
    border:none;
}

.card img{
    position: relative;
    float: left;
    width:  100%;
    height: 175px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-radius: 0rem;
    overflow: hidden;
}
@media (max-width: 768px){
    .info-logo{
        display: none;
    }
}