body{
    background-color: #fff;
}

.about-ch{
    color: #ffffff !important;
    /* text-shadow: 1px 1px black; */
}

hr{
    background-color: #fff;
    text-shadow: 1px 4px black !important;
}

#about-title{
    font-size: 36px;
}

#about-text{
    font-size: 20px;
}

#ptsd-link{
    text-decoration: none;
    color:#9999A1;
}

#ptsd-link:hover{
    color:#000;
}

#cfh-group{
   width: 82%;
}


.ch-description{
    color: #343a40 !important;
}