body{
    background-color: #fff;
}

.about-ch{
    color: #343a40 !important;
    /* text-shadow: 1px 1px black; */
    box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.3);
    
}

hr{
    background-color: #fff;
    text-shadow: 1px 4px black !important;
}

#about-title{
    font-size: 36px;
}

#about-text{
    font-size: 20px;
}

#ptsd-link{
    text-decoration: none;
    color:#9999A1;
}

#ptsd-link:hover{
    color:#000;
}

#cfh-group{
   width: 82%;
}

.ch-description{
    color: #343a40 !important;
}

.parallax{
    background: url('../img/military_branches.jpg') no-repeat center;
    background-size: contain;
    background-attachment: fixed;
    height: 25vw;
}