body{
  height: 100vh;
  background: url("../img/zeec.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
hr{
    width: 50%;
    margin: 0 auto;
    border-color: #ffffff;
}

main{
    color: #ffffff; 
    text-shadow: 1px 1px black;   
}


.social-info{
    background: rgba(40, 56, 69, 0.75);
}

.email{
    color: rgb(183, 183, 183);
}

.email:hover{
    text-decoration: none;
    color: #ffffff;
}