$light-blue: #88bdbc;
$medium-blue: #254e58;
$dark-green: #112d32;
$dark-brown: #4f4a41;
$light-brown: #6e6658;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 95%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

body {
  background-color: $light-blue;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.nav-bar {
  box-shadow: 0px 0px 10px;
  background-color: white;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.nav-links {
  display: flex;
}

.nav-link:hover {
  color: $light-blue;
}

.logo {
  font-weight: 400;
  margin: 5px;
}

nav {
  flex: 5;
}
.nav-links {
  justify-content: space-around;
  list-style: none;
}
.nav-link {
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}

.active-page {
  color: $medium-blue;
}

.title1,
.title2 {
  display: flex;
  justify-content: space-around;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 32px;
}

.about-us {
  display: flex;
  justify-content: space-around;
}
