* {
    font-family: "Roboto Condensed", sans-serif;
    scroll-behavior: smooth;
}
#intro {
    height: 100vh;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #fff
}

.navbar {
    background: transparent;
    color: #fff;
    font-size: 20px;
  }

.navbar.scrolled{
    background: #88bdbc;
}

#intro {
    background: url("../img/campus_aerial.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    text-shadow: 1px 1px #000;
}

.pillars {
    background-color: #254e58;
}

.letter {
  width: 65%;
  max-width: 65%;
}

.president-portrait {
  margin-left: -100px;
  margin-bottom: -40px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.2);
}

.letter-text {
  box-shadow: 3px 3px 15px 6px rgba(0,0,0,0.3);
  background-color: #F9F4EE;
}

  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #88bdbc;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #88bdbc
    }
  }